body {
    background-color: lightyellow;
}

.card {
    width: 100px;
    height: 100px;
    background-color: burlywood;
    margin: 10px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
